<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="Language" content="en">
  <meta name="Keywords" content="url shortener, small url, domain, free, open source">
  <meta name="Description" content="The most fluent url shortener with nice domain to remember.">
  <meta name="google-site-verification" content="fMALORIF2nmxW2o8EWfJY4PnysyRBSmZ8TB8UrUv6ag" />
  <script data-ad-client="ca-pub-8892389785556673" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <link rel="icon" type="image/png" href="img/logo.png">

  <title>Compact - URL Shortener</title>

  <link rel="stylesheet" href="css/index.css">
  <script src="https://kit.fontawesome.com/c8e4359d1c.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="main">
    <div class="nav">
      <span>Compact.ml</span>
    </div>

    <div class="form">
      <p>URL</p>
      <div class="input">
        <input id="in" onkeyup="sendValue(event, this.value)" type="text" placeholder="Website to be shortened">
        <button type="button" name="button" onclick="sendValue(document.getElementById('in').value)">Shorten</button>
      </div>

    </div>

    <p id="infoDock">
    </p>
    <i class="fab fa-github github" onclick="window.open('https://github.com/JHikyu/Small.ml', '_blank')"></i>
  </div>

</body>
<footer>
  <script src="js/socketio.js" charset="utf-8"></script>
  <script type="text/javascript">
    var socket = io(window.location.origin);

    function sendValue(event, value) {
      if (!value) {
        event = event.replace('compact.ml', '')
        socket.emit('checkUrl', event)
      }

      var x = event.which || event.keyCode;
      if (x == 13) {
        value = value.replace('compact.ml', '')
        socket.emit('checkUrl', value)
      }
    }

    socket.on('successfullyCreated', token => {
      document.getElementById('in').value = "Copied!"

      var textArea = document.createElement("textarea")
      textArea.value = window.location.href + token
      document.body.appendChild(textArea)
      textArea.select()
      document.execCommand("Copy")
      textArea.remove()

      setTimeout(function () {
        document.getElementById('in').value = window.location.href + token
      }, 1000)

    })

    socket.on('bottomInfoDock', data => {
      document.getElementById('infoDock').innerHTML = data.connections + ' user online | ' + data.shorts + ' shorts online | ' + data.requests + ' requests'
    })

  </script>
</footer>

</html>