<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="Language" content="en">
      <meta name="Keywords" content="url shortener, small url, domain">
      <meta name="Description" content="The most fluent url shortener with nice domain to remember.">


      <title>Small - URL Shortener</title>

      <link rel="stylesheet" href="css/index.css">
      <script src="https://kit.fontawesome.com/c8e4359d1c.js" crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="main">
         <div class="nav">
            <span>Small.ml</span>
         </div>

         <div class="form">
            <span>URL</span><br>
            <input id="in" onkeyup="sendValue(event, this.value)" onpaste="socket.emit('checkUrl', this.value)" type="text" placeholder="Website to be shortened">
         </div>

         <p><%= connections %> user online | <%= shorts %> shorts online | <%= requests %> requests since restart</p>
         <i class="fab fa-github github"  onclick="window.open('https://small.ml/umn', '_blank')"></i>
      </div>

   </body>
   <footer>
      <script src="js/socketio.js" charset="utf-8"></script>
      <script type="text/javascript">
         var socket = io(window.location.origin);

         function sendValue(event, value) {
            var x = event.which || event.keyCode;
            if(x == 13) {
               socket.emit('checkUrl', value)
            }
         }

         socket.on('successfullyCreated', token => {
            document.getElementById('in').value = window.location.href + token;
         })


      </script>
   </footer>
</html>
