@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.main {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

   background-image: linear-gradient(0deg, #465860, #313744);
}


.main .nav {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 50px;

   background-color: #2c313c;
}
.main .nav span {
   position: absolute;
   left: 50px;
   top: 50%;
   transform: translate(0, -50%);

   font-family: Roboto;
   font-weight: bold;
   color: white;
}



.main .form {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
.main .form .input {
   position: relative;
   width: 550px;
}
.main .form input {
   position: absolute;
   left: 0;
   top: 0;
   height: 60px;
   width: 550px;
   background-color: white;
   border: none;
   border-radius: 5px;

   color: #37404B;
   font-size: 18px;
   font-family: Roboto;
}
.main .form input::placeholder {
   color: #37404B;
   transform: translate(25px, 0);
   font-size: 18px;
   font-family: Roboto;
}
.main .form input:focus {outline:0;}
.main .form button {
   position: absolute;
   right: -5px;
   top: 0;

   height: 62px;
   width: 100px;
   border: none;
   background-color: #44555d;
   border-radius: 0 5px 5px 0;
   color: white;
   font-size: 18px;
   font-family: Roboto;
   cursor: pointer;
}
.main .form button:focus {outline:0;}

.main .form span {
   display: inline-block;
   padding: 10px;

   color: white;
   font-family: Roboto;
   font-weight: bold;
   font-size: 12px;
}
.main .github {
   position: absolute;
   left: 30px;
   bottom: 30px;
   font-size: 32px;

   color: #677dc4;
   cursor: pointer;
}
.main p {
   position: absolute;
   left: 50%;
   bottom: 30px;
   transform: translate(-50%, 0);

   font-family: Roboto;
   color: white;
}
